.postBody{
    box-sizing: border-box;
    border: rgb(201, 201, 201) solid 1px;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-bottom: 1rem;
    font-style: italic;
}
.postBody *{
    margin: .4rem 0;
}

.postBody h3{
    font-weight: 500;
}
.postFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.postFooter a{
    text-decoration: none;
    color: #000000;
}

.seeMore{
    cursor: pointer;
    font-style: normal;
    display: flex;
    justify-content: center;
    padding: .3rem;
    width: 5rem;
    border-radius: 8px;
    background-color: rgba(164, 164, 164, 0.56);
    margin: auto 0;
}
.seeMore:hover{
    background-color: rgba(0, 0, 0, 0.5);
}